@import "tailwindcss";

body {
  background-color: #7b26f2;
  background-image: url(/images/bg-frame.svg), url(/images/bg-frame.svg);
  background-size: 62.5px;
  background-repeat: repeat;
  background-position:
    0,
    31.25px 15.625px;
}
